name: Test Secret Encoding

on:
  workflow_dispatch:

jobs:
  encode-secret:
    #runs-on: ubuntu-latest
    #runs-on: [self-hosted, linux, docker] # Targets any runner with these labels
    #runs-on: macos-latest
    runs-on: windows-latest
    steps:
      - name: Fetch and use ksb_session cookie
        shell: pwsh
        run: |
          # GET request and extract ksb_session cookie
          Invoke-WebRequest -Uri "${{ vars.STRATO_API }}" -UseBasicParsing -Verbose -SessionVariable session
          
          # POST request using the cookie
          $body = @{
              identifier = "${{ secrets.STRATO_IDENTIFIER }}"
              passwd = "${{ secrets.STRATO_PASSWORD }}"
              'action_customer_login.x' = "Login"
          }
          
          Invoke-WebRequest -Uri "${{ vars.STRATO_API }}" -Method POST -Body $body -ContentType 'application/x-www-form-urlencoded' -Headers $headers -UseBasicParsing -WebSession $session -MaximumRedirection 0 -Verbose