name: Test Secret Encoding

on:
  workflow_dispatch:

jobs:
  encode-secret:
    #runs-on: ubuntu-latest
    #runs-on: [self-hosted, linux, docker] # Targets any runner with these labels
    #runs-on: macos-latest
    runs-on: windows-latest
    steps:
      - name: Fetch and use ksb_session cookie
        env:
          STRATO_API: ${{ vars.STRATO_API }}
          STRATO_IDENTIFIER: ${{ secrets.STRATO_IDENTIFIER }}
          STRATO_PASSWORD: ${{ secrets.STRATO_PASSWORD }}
          STRATO_ORDER: ${{ secrets.STRATO_ORDER }}
          STRATO_DOMAIN: ${{ secrets.STRATO_DOMAIN }}
        run: |
          # GET request and extract ksb_session cookie
          KSB_COOKIE=$(curl -4 -i -s "$STRATO_API" | grep -i "set-cookie:" | grep -i "ksb_session" | sed 's/.*\(ksb_session=[^;]*\).*/\1/')
          
          echo "Cookie found: $KSB_COOKIE"
          
          # POST request using the cookie
          curl -4 -X POST "$STRATO_API" \
            -H "Cookie: $KSB_COOKIE" \
            -d "identifier=$STRATO_IDENTIFIER" \
            -d "passwd=$STRATO_PASSWORD" \
            -d "action_customer_login.x=Login" \
            -v
